<div id="<%= dom_id recipe %>" class="card mb-3 mt-4">
  <div class="card-body">
    <p class="card-text">
      <strong>Name:</strong>
      <%= recipe.name %>
    </p>

    <p class="card-text">
      <strong>Preparation time:</strong>
      <%= recipe.preparation_time %>
    </p>

    <p class="card-text">
      <strong>Cooking time:</strong>
      <%= recipe.cooking_time %>
    </p>

    <p class="card-text">
      <strong>Description:</strong>
      <%= recipe.description %>
    </p>

    <p class="card-text">
      <strong>Public:</strong>
      <%= recipe.public %>
    </p>

    <p class="card-text">
      <strong>User:</strong>
      <%= recipe.user_id %>
    </p>
  </div>
</div>
